* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;

}

.header {
    background-color: #1F2937;
}

.hero {
    background-color: #1F2937;
}

.footer {
    background-color: #1F2937;
}