* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    flex-direction: column;

}

.header {
    flex: 0 0 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 150px;

    background-color: #1F2937;
}

.header .logo {
    font-size: 24px;
    font-weight: 450;
    color: #F9FAF8;
}

.header-links ul{
    display: flex;
    gap: 30px;
    list-style-type: none;
}

.header-links ul a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    flex: 0 0 400px;

    display: flex;
    justify-content: space-between;
    gap: 150px;
    
    padding: 100px 150px;

    background-color: #1F2937;
}

.hero .content {
    padding-top: 50px;
    display: flex; 

    flex-direction: column;
}

.hero .main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;

    margin-bottom: 20px;
}

.hero .secondary-text{
    font-size: 18px;
    color: #E5E7EB;
}

.hero button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: 700;

    margin-top: 30px;
    margin-bottom: 10px;
    padding: 10px 20px;
    width: 120px;

}


.hero img {
    height: 500px;
    width: auto;
    border-radius: 10px;
}

.information {
    flex: 0 0 600px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.information .information-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;

    margin-top: 30px;
}

.information-boxes {
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 50px;
}

.information-boxes .box{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    text-align: center;
}

.information-boxes img {
    padding: 30px;
    border: 4px solid #3882F6;
    border-radius: 10px;
    width: 200x;
    height: 200px;
    margin-bottom: 30px;
}

.quote-section {
    flex: 0 0 400px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 100px 200px;

    background-color: #e5e7eb
}

.quote-section .quote {
    display: flex;
    flex-direction: column;

    font-size: 36px;
    color: #1F2936;
    font-weight: 300;
}

.quote-section .quote .citation {
    align-self: flex-end;
    margin-right: 100px;
}

.cta-section {
    flex: 0 0 400px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 100px;

}

.cta-section .content {
    flex: 1;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 10px;
    padding: 50px 250px;
    background-color: #3882F6;
}

.cta-section .content .text {
    color: white;
}

.cta-section .content .text .header-text {
    font-weight: 500;
    font-size: 20px;
}

.cta-section .content button {
    width: 100px;
    height: 50px;

    background-color: #3882F6;
    font-size: 18px;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

.footer {
    background-color: #1F2937;
}